<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home - ACS SMS Relay</title>
    </head>
    <body>
        <h1>You probably don't want to be here...</h1>
        <p>Currently, this is intended primarily as a backend service and has basically no UI.</p>
    </body>
</html>